.taskDetails {
  background-color: white;
  text-align: center;
  width: 100%;
}

.taskDetails li {
  display: inline-block;
}

.task {
  text-align: left;
  width: 50%;
}

.date {
  width: 15%;
}

.time {
  width: 15%;
}

.completeButton {
  width: 10%;
}

.completeButton Button {
  background-color: skyblue;
  color: white;
}

.deleteButton {
  width: 10%;
}

.deleteButton Button {
  background-color: red;
  color: white;
}
